#map {
  height: 28rem;
  width: 100%; 
}

.dataTables_scrollBody {
  max-height: 28rem !important; 
}
  
.jsgrid-grid-body::-webkit-scrollbar,
.dataTables_scrollBody::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar {
  background-color: #F5F5F5;
  width: 8px;
  height: 8px; 
}

.jsgrid-grid-body::-webkit-scrollbar-track,
.dataTables_scrollBody::-webkit-scrollbar-track,
.table-responsive::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; 
}

.jsgrid-grid-body::-webkit-scrollbar-thumb,
.dataTables_scrollBody::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #BDBDC7; 
}
  
#place-review-content-list-group,
.dataTables_scrollBody_reveiwContent {
  max-height: 43.5rem !important; 
}

.list-group-item-place:hover {
  cursor: pointer !important;
  background-color:#F0F0F0 !important;
}

.list-group-item-review:hover {
  background-color:#F0F0F0 !important;
}

.place-name {
  font-weight:bold;
}

.place-rating,
.content-rating {
  color: #E7711b;
}

.match-count {
  color: #6B5DEF;
}

#card-people,
#card-feeling,
#card-tag {
  height: 20rem;
}

#pie-container {
  display: flex;
  justify-content: center;
}

.btn-tag {
  margin: 5px;
}

#bar-feature-container{
  margin-bottom: 3rem !important; 
}

#bar-people-container{
  margin-bottom: 3rem !important; 
}

#card-info-title {
  font-size: 1.06rem;
  font-weight:bold;
}

#card-info-rating {
  color: #E7711b;
}

#btn-like {
  display: none;
}

#search-food-text {
  min-width: 220px !important;
  width: 220px !important;
}

#main-search-food-btn {
  background: #6B5DEF !important;
  border-color: #6B5DEF !important;
}

#main-search-food-btn:hover {
  background:#5436dd !important;
  border-color: #5436dd !important;
}

#main-search-food-btn:focus{
  outline: none !important;
  box-shadow: none !important;
}
